@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body > #root > div >div{
  height: 100vh;
}
/* html, body, #app, #app>div {
  height: 100%
} */

/* html,
body {
  height: 100%;
  margin: 0;
}*/


/* .flex-container {
   justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
} */

/* .flex-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form-control:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid rgb(var(--bs-dark-rgb)) !important;
}

* {
  box-sizing: border-box;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.image-logo-size {
  width: 20px;
}

.container {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.appointment-form {
  background-color: transparent;
  transition: background-color 0.5s;
}

.appointment-form:focus-within,
.appointment-form:hover {
  background-color: #f2f2f2;
}

.appointment-form form * {
  opacity: 0;
  transition: opacity 0.9s;
}

.appointment-form .btn,
.appointment-form:focus-within form *,
.appointment-form:hover form * {
  opacity: 1;
}

.renderResponse,
.appointment-form .btn,
.appoinments li {
  animation: fadeIn 2.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}